@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body {
    font-family: 'Roboto', sans-serif;
}

.theme_image {
    width: 100%;
    margin-top: 60px;
}

.header {
    /* background-color: chartreuse;*/
    height: 44px;
}

.display {
    /* display */
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 80px;
    line-height: 100%;
    /* identical to box height, or 80px */
    text-align: center;
    /* light / $primary-text */
    color: #4A5568;
}

.total-cost {
    /* paragraph */
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 100%;
    /* identical to box height, or 26px */
    text-align: center;
    /* light / $secondary-text */
    color: #A0AEC0;
}

.settings-block {
    margin-top: 8px;
    height: 80px;
    border-radius: 8px;
    padding: 16px;
}

.duration {
    border: solid 1px #D8E5F3;
}

.participants {
    border: solid 1px #D8E5F3;
}

.salary {
    border: solid 1px #D8E5F3;
}

.text-12 {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    line-height: 0.5em;
    font-size: 12px;
    color: #A0AEC0;
}

.text-40 {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    line-height: 0.5em;
    font-size: 40px;
    color: #4A5568;
}

.start {
    width: 100%;
    margin-top: 24px;
    border: none;
    border-radius: 8px;
    height: 64px;
    background-color: #34AAFF;
    color: #FFF;
}

.settings .icon {
    width: 48px;
    height: 48px;
    float: right;
    background-position: -30px;
}